<div class="about-title">
    <p><strong>About the Creators</strong></p>
</div>

<!-- About Us  -->
<div class="card mb-3" style="max-width: 600px;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="./assets/brian.png" class="card-img">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Brian Spiewak</h5>
                <p class="card-text">Die-hard philly sports fan</p>
                <p class="card-text">Living in NYC for the past decade</p>
                <p class="card-text">Tech geek at heart</p> <br>
                <a href="mailto:bspiewak6@gmail.com">Email Me</a>
            </div>
        </div>
    </div>
</div>

<div class="card mb-3" style="max-width: 600px;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="./assets/lucianne.png" class="card-img">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Lucianne Vazquez</h5>
                <p class="card-text">World Traveler</p>
                <p class="card-text">Animal Lover </p>
                <p class="card-text">01010010 01100101 01100011 01111001 01100011 01101100 01100101 01110010</p>
                <a href="mailto:lucianne12@aol.com">Email Me</a>
            </div>
        </div>
    </div>
</div>

<div class="card mb-3" style="max-width: 600px;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="./assets/peyton.png" class="card-img">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Peyton Schlafley</h5>
                <p class="card-text">Christian</p>
                <p class="card-text">Barcelona soccer fan</p>
                <p class="card-text">Rock Climber (indoor hopefully outdoor soon!)</p> <br>
                <a href="mailto:pschlafley0@gmail.com">Email Me</a>
            </div>
        </div>
    </div>
</div>



