<div class="hero">
    <div class="opening-text">
        <p>Looking for more information about recycling? <br/> 
        Using Simply ReUse makes this as easy as 1, 2, 3. </p>

        <button><a href="/recycle">Learn More &nbsp;
        <i class="far fa-arrow-alt-circle-right"></i></a>
        </button>
        </div>
    </div>
</div>

<div class="hero-image">
    <img src="/assets/recycle_hero.png" /> 
</div>

<div class="blog-hometitle">
    <p>Start the Conversation</p>
</div>

<div class="row col-12">
    <div class="card mb-3" style="max-width: 650px;">
        <div class="row no-gutters">
            <div class="col-md-2 col-sm-3">
                <img src="./assets/recycle_1.png" class="card-img" alt="placeholder-img">
            </div>
            <div class="col-md-10 col-sm-9">
                <div class="card-body">
                                     <h5 class="card-title"><a href="https://recyclenation.com/2020/11/big-changes-coming-to-plastic-bottles-in-california/" target="blank" style="color:black">Big Changes Coming to Plastic Bottles in California</a></h5>
                    <p class="card-text">
                        In August, California became the first state in the U.S. to require any company making plastic bottles to use recycled plastic. 
                        Governor Newsom signed AB 793 into law on September 24th. Starting in 2022, big changes are coming to plastic bottles in the products available 
                        to consumers. Many food and beverage manufacturers use virgin plastic to make their bottles. It’s what they’re used to and believe it’s stronger. 
                        Recycled plastic loses some of its strength. As a result, many companies do not buy and incorporate recycled plastic into their products. 
                        This is concerning as consumer plastics that are recycled aren’t being used in products that consumers purchase regularly.</p>
                    <p><small class="text-muted">Posted by Tracey Farnsworth on November 10, 2020</small></p>
                    {{!-- |
                    2 comments</small></p> --}}
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3" style="max-width: 500px;">
        <div class="row no-gutters">
            <div class="col-md-2 col-sm-3">
                <img src="./assets/recycle_2.png" class="card-img" alt="placeholder-img">
            </div>
            <div class="col-md-10 col-sm-9">
                <div class="card-body">
                    <h5 class="card-title"><a href="https://recyclenation.com/2020/11/dayton-residents-risk-losing-curbside-recycling-service-for-incorrect-recycling-habits/" target="blank" style="color:black">Dayton Residents Risk Losing Curbside Recycling Service For Incorrect Recycling Habits</a></h5>
                    <p class="card-text">
                        Take a trip back to the 1980s when recycling started gaining steam. School kids were informed to put their unneeded papers into boxes in the classroom. 
                        Those papers would get recycled. Bottles and glass became the next items being recycled. At the time, the focus was on keeping reusable materials out of 
                        overflowing landfills. Fast forward several decades. Recycling is now becoming a new problem because it’s costing cities more to recycle than they’re 
                        getting back in fees and sales of reusable materials. In Dayton, Ohio, authorities are taking an extreme measure to educate the public about recycling..</p>
                    <p><small class="text-muted">Posted by Tracey Farnsworth on November 3, 2020</small></p>
                    {{!-- |
                    2 comments</small></p> --}}
                </div>
            </div>
        </div>
    </div>
   
    <div class="blog-posts">
        <div class="card mb-3" style="max-width: 650px; border:none;">
        <button><a href="/blog">View All Blog Posts &nbsp;
        <i class="far fa-arrow-alt-circle-right"></i></a>
        </button>
        </div>
    </div>
</div>

