<div class="login-title">
    <p><strong>Login To Share Your Views</strong></p>
</div>

<form class="login-form">
  <div>
    <label for="user-login" id="userlog">Username:</label>
    <input type="text" id="user-login" />
  </div>
  <div>
    <label for="password-login" id="pwlog">Password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit" class="btn-login">Login</button>
  </div>
  <div>
    <button type="submit" class="btn-signup"><a href="/signup" style="color:white; text-decoration:none">Not a User? Sign up</a></button>
  </div>
</form>

<script src="/javascript/login.js"></script>