<form class="login-form">

  <div>
    <label for="user-login" id="user-login">Username:</label>
    <input type="text" id="user-login" />
  </div>
  <div>
    <label for="password-login" id="password-login">Password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit" class="btn-login">Login</button>
  </div>
  <div>
    <button type="submit" class="btn-signup"><a href="/signup" style="color:white;">Not a User? Sign up</a></button>
  </div>
</form>

<script src="/javascript/login.js"></script>