<div class="card mb-3" style="max-width: auto; border: none">
    <div class="search-title">
        <h1>Profile</h1>
    </div>

    <div id="current-username"></div>

    <span id="hidden-username">
        <p style="text-align: center;">
            Welcome: {{session.username}}
        </p>
    </span>

    <div>
        <h3 style="padding-top: 20px;">Edit Profile</h3>

        {{!-- Commented forms is for the user to change email and username credectials, they are both in the works --}}

        {{!-- <div>
            <form class="username-form">
            <div>
                <label for="edit-username" id="username"><strong>Username:</strong></label>
                <input type="text" id="edit-username" />

                <div>
                    <button type="submit" class="btn-signup">Edit</button>
                </div>
            </div>
            </form>
            <form class="email-form">
                <div>
                    <label for="edit-email" id="email"><strong>Email:</strong></label> --}}
                    {{!-- <input type="text" id="edit-email" />

                    <div>
                        <button type="submit" class="btn-signup">Edit</button>
                    </div>
                </div>
            </form> --}}
            <form class="password-form">
                <div>
                    <label for="edit-password" id="password"><strong>Password:</strong></label>
                    <input type="text" id="edit-password" />

                    <div>
                        <button type="submit" class="btn-signup">Edit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/javascript/profile-page.js"></script>