<div class="signup-title">
    <p><strong>Signup for Blog</strong></p>
</div>

<form class="signup-form">
  <div>
    <label for="username-signup" id="usersign">Username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup" id="emailsign">Email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup" id="pwsign">Password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit" class="btn-signup">Signup</button>
  </div>
</form>

<script src="/javascript/signup.js"></script>

